# Limpieza y manipulación part2

In [5]:
#install.packages("tidyverse")
library(tidyverse)

Repositorio [UCI](https://archive.ics.uci.edu/ml/index.php)

In [6]:
mpg <- read.csv(file = "mpg missing.csv")
str(mpg)

'data.frame':	398 obs. of  9 variables:
 $ mpg         : num  18 15 18 16 17 15 14 14 14 15 ...
 $ cylinders   : int  8 8 8 8 8 8 8 8 8 8 ...
 $ displacement: num  307 350 318 304 302 429 454 440 455 NA ...
 $ horsepower  : int  130 165 150 150 140 198 220 215 225 190 ...
 $ weight      : int  3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 ...
 $ acceleration: num  12 11.5 11 12 10.5 NA 9 8.5 10 8.5 ...
 $ model_year  : int  70 70 70 70 70 70 70 70 70 70 ...
 $ origin      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ name        : chr  "chevrolet chevelle malibu" "buick skylark 320" "plymouth satellite" "amc rebel sst" ...

### obtener las primeras filas

In [7]:
head(mpg)

  mpg cylinders displacement horsepower weight acceleration model_year origin
1 18  8         307          130        3504   12.0         70         1
2 15  8         350          165        3693   11.5         70         1
3 18  8         318          150        3436   11.0         70         1
4 16  8         304          150        3433   12.0         70         1
5 17  8         302          140        3449   10.5         70         1
6 15  8         429          198        4341     NA         70         1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

### unir data frames

In [11]:
mpg1 <- select(mpg, name, mpg, origin, model_year, weight, cylinders)
mpg2 <- select(mpg, name, mpg, model_year, displacement, horsepower)
merge(mpg1,mpg2, by = c("name", "mpg", "model_year"))

    name                            mpg  model_year origin weight cylinders
1   amc ambassador brougham         13.0 73         1      3821   8
2   amc ambassador dpl              15.0 70         1      3850   8
3   amc ambassador sst              17.0 72         1      3672   8
4   amc concord d/l                 18.1 78         1      3410   6
5   amc concord dl 6                20.2 79         1      3265   6
6   amc concord dl                  23.0 82         1      3035   4
7   amc concord                     19.4 78         1      3210   6
8   amc concord                     24.3 80         1      3003   4
9   amc gremlin                     18.0 73         1      2789   6
10  amc gremlin                     19.0 71         1      2634   6
11  amc gremlin                     20.0 75         1      2914   6
12  amc gremlin                     21.0 70         1      2648   6
13  amc hornet sportabout (sw)      18.0 71         1      2962   6
14  amc hornet                      18.0 70         1      2774   6
15  amc hornet                      18.0 73         1      2945   6
16  amc hornet                      19.0 74         1      2901   6
17  amc hornet                      22.5 76         1      3085   6
18  amc matador (sw)                14.0 74         1      4257   8
19  amc matador (sw)                15.0 72         1      3892   8
20  amc matador                     14.0 73         1      3672   8
21  amc matador                     15.0 75         1        NA   6
22  amc matador                     15.5 76         1      3962   8
23  amc matador                     16.0 74         1      3632   6
24  amc matador                     18.0 71         1      3288   6
25  amc pacer d/l                   17.5 76         1      3193   6
26  amc pacer                       19.0 75         1      3211   6
27  amc rebel sst                   16.0 70         1      3433   8
28  amc spirit dl                   27.4 79         1      2670   4
29  audi 100 ls                     24.0 70         2      2430   4
30  audi 100ls                      20.0 73         2      2582   4
... ...                             ...  ...        ...    ...    ...
369 toyouta corona mark ii (sw)     23.0 72         3      2506   4
370 triumph tr7 coupe               35.0 80         2      2500   4
371 vokswagen rabbit                29.8 80         2      1845   4
372 volkswagen 1131 deluxe sedan    26.0 70         2      1835   4
373 volkswagen 411 (sw)             22.0 72         2      2511   4
374 volkswagen dasher               25.0 75         2      2223   4
375 volkswagen dasher               26.0 74         2      1963   4
376 volkswagen dasher               30.5 77         2      2190   4
377 volkswagen jetta                33.0 81         2      2190   4
378 volkswagen model 111            27.0 71         2      1834   4
379 volkswagen rabbit custom diesel 43.1 78         2      1985   4
380 volkswagen rabbit custom        29.0 77         2      1940   4
381 volkswagen rabbit l             36.0 82         2      1980   4
382 volkswagen rabbit               29.0 75         2      1937   4
383 volkswagen rabbit               29.5 76         2      1825   4
384 volkswagen scirocco             31.5 78         2      1990   4
385 volkswagen super beetle         26.0 73         2      1950   4
386 volkswagen type 3               23.0 72         2      2254   4
387 volvo 144ea                     19.0 73         2      2868   4
388 volvo 145e (sw)                 18.0 72         2      2933   4
389 volvo 244dl                     22.0 75         2      2945   4
390 volvo 245                       20.0 76         2      3150   4
391 volvo 264gl                     17.0 78         2      3140   6
392 volvo diesel                    30.7 81         2      3160   6
393 vw dasher (diesel)              43.4 80         2      2335   4
394 vw pickup                       44.0 82         2      2130   4
395 vw rabbit c (diesel)            44.3 80         2      2085   4
396 vw rabbit custom                31.9 79         2      1925   4
397 vw rabbit                       29.0 76         2      1937   4
398 vw rabbit                       41.5 80         2        NA   4
    displacement horsepower
1   360          175
2    NA          190
3   304          150
4   258          120
5   232           90
6   151           NA
7   232           90
8   151           90
9   232          100
10  232          100
11  232          100
12  199           90
13  258          110
14  199           97
15  232          100
16  232          100
17  232           90
18  304          150
19  304          150
20  304          150
21  258          110
22  304          120
23  258          110
24  232          100
25  258           95
26  232           90
27  304          150
28  121           80
29  107           90
30  114           91
... ...          ...
369 120           97
370 122           88
371  89           62
372  97           46
373 121           76
374  90           71
375  NA           67
376  97           78
377 105           74
378  97           60
379  90           48
380  97           78
381 105           74
382  90           70
383  97           71
384  89           71
385  97           46
386  97           54
387 121          112
388 121          112
389 121           98
390 130          102
391 163          125
392 145           76
393  90           48
394  97           52
395  90           48
396  89           71
397  90           70
398  98           76

### encontrar missing values

In [12]:
mpg %>% filter(is.na(weight))

   mpg  cylinders displacement horsepower weight acceleration model_year origin
1  14.0 8         340          160        NA      8.0         70         1
2  13.0 8         400          175        NA     12.0         71         1
3  21.0 4         122           86        NA     16.5         72         1
4  26.0 4          96           69        NA     18.0         72         2
5  21.0 4         140           72        NA     19.5         73         1
6  15.0 6         258          110        NA     19.0         75         1
7  13.0 8         302          130        NA     15.0         76         1
8  23.2 4         156          105        NA     16.7         78         1
9  41.5 4          98           76        NA     14.7         80         2
10 37.0 4         119           92        NA     15.0         80         3
11 39.1 4          79           58        NA     16.9         81         3
12 38.0 4          91           67        NA     16.2         82         3
   name
1  plymouth 'cuda 340
2  pontiac safari (sw)
3  ford pinto runabout
4  renault 12 (sw)
5  chevrolet vega
6  amc matador
7  ford f108
8  plymouth sapporo
9  vw rabbit
10 datsun 510 hatchback
11 toyota starlet
12 datsun 310 gx

### Eliminar tuplas con valores NA

In [17]:
str(mpg)
mpg_drop <- mpg %>% drop_na(mpg)
str(mpg_drop)

'data.frame':	398 obs. of  9 variables:
 $ mpg         : num  18 15 18 16 17 15 14 14 14 15 ...
 $ cylinders   : int  8 8 8 8 8 8 8 8 8 8 ...
 $ displacement: num  307 350 318 304 302 429 454 440 455 NA ...
 $ horsepower  : int  130 165 150 150 140 198 220 215 225 190 ...
 $ weight      : int  3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 ...
 $ acceleration: num  12 11.5 11 12 10.5 NA 9 8.5 10 8.5 ...
 $ model_year  : int  70 70 70 70 70 70 70 70 70 70 ...
 $ origin      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ name        : chr  "chevrolet chevelle malibu" "buick skylark 320" "plymouth satellite" "amc rebel sst" ...
'data.frame':	398 obs. of  9 variables:
 $ mpg         : num  18 15 18 16 17 15 14 14 14 15 ...
 $ cylinders   : int  8 8 8 8 8 8 8 8 8 8 ...
 $ displacement: num  307 350 318 304 302 429 454 440 455 NA ...
 $ horsepower  : int  130 165 150 150 140 198 220 215 225 190 ...
 $ weight      : int  3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 ...
 $ acceleration: num  12 11.5 11 12 10.5 NA 9 8.5 10 8.5 ...
 $ model_year  : int  70 70 70 70 70 70 70 70 70 70 ...
 $ origin      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ name        : chr  "chevrolet chevelle malibu" "buick skylark 320" "plymouth satellite" "amc rebel sst" ...

### tidyr fill
Esta función completa los valores NA con los valores adyacentes, se puede especificar la busqueda hacia arriba o abajo de la fila con NA. Si no se especifica una dirección se toma “down”

In [21]:
mpg_filled <- mpg %>% fill(acceleration)
summary(mpg_filled)

      mpg          cylinders      displacement     horsepower        weight
 Min.   : 9.00   Min.   :3.000   Min.   : 68.0   Min.   : 46.0   Min.   :1613
 1st Qu.:17.50   1st Qu.:4.000   1st Qu.:102.5   1st Qu.: 75.0   1st Qu.:2228
 Median :23.00   Median :4.000   Median :151.0   Median : 93.5   Median :2822
 Mean   :23.51   Mean   :5.455   Mean   :193.8   Mean   :104.5   Mean   :2974
 3rd Qu.:29.00   3rd Qu.:8.000   3rd Qu.:264.5   3rd Qu.:126.0   3rd Qu.:3597
 Max.   :46.60   Max.   :8.000   Max.   :455.0   Max.   :230.0   Max.   :4997
                                 NA's   :7       NA's   :6       NA's   :12
  acceleration     model_year        origin          name
 Min.   : 8.00   Min.   :70.00   Min.   :1.000   Length:398
 1st Qu.:13.80   1st Qu.:73.00   1st Qu.:1.000   Class :character
 Median :15.50   Median :76.00   Median :1.000   Mode  :character
 Mean   :15.56   Mean   :76.01   Mean   :1.573
 3rd Qu.:17.07   3rd Qu.:79.00   3rd Qu.:2.000
 Max.   :24.80   Max.   :82.00   Max.   :3.000

### replace NA

In [33]:
mpg %>% mutate(weight2 = replace_na(weight, 30000))

    mpg cylinders displacement horsepower weight acceleration model_year origin
1   18  8         307          130        3504   12.0         70         1
2   15  8         350          165        3693   11.5         70         1
3   18  8         318          150        3436   11.0         70         1
4   16  8         304          150        3433   12.0         70         1
5   17  8         302          140        3449   10.5         70         1
6   15  8         429          198        4341     NA         70         1
7   14  8         454          220        4354    9.0         70         1
8   14  8         440          215        4312    8.5         70         1
9   14  8         455          225        4425   10.0         70         1
10  15  8          NA          190        3850    8.5         70         1
11  15  8         383          170        3563   10.0         70         1
12  14  8         340          160          NA    8.0         70         1
13  15  8         400          150        3761    9.5         70         1
14  14  8         455          225        3086   10.0         70         1
15  24  4         113           95        2372   15.0         70         3
16  22  6         198           95        2833   15.5         70         1
17  18  6         199           97        2774   15.5         70         1
18  21  6         200           85        2587   16.0         70         1
19  27  4          97           88        2130   14.5         70         3
20  26  4          97           46        1835   20.5         70         2
21  25  4         110           87        2672   17.5         70         2
22  24  4         107           90        2430   14.5         70         2
23  25  4         104           95        2375   17.5         70         2
24  26  4         121          113        2234   12.5         70         2
25  21  6         199           90        2648     NA         70         1
26  10  8         360          215        4615   14.0         70         1
27  10  8         307          200        4376   15.0         70         1
28  11  8         318          210        4382   13.5         70         1
29   9  8         304          193        4732   18.5         70         1
30  27  4          97           88        2130   14.5         71         3
... ... ...       ...          ...        ...    ...          ...        ...
369 27  4         112           88        2640   18.6         82         1
370 34  4         112           88        2395   18.0         82         1
371 31  4         112           85        2575   16.2         82         1
372 29  4         135           84        2525   16.0         82         1
373 27  4         151           90        2735   18.0         82         1
374 24  4         140           92        2865   16.4         82         1
375 23  4         151           NA        3035   20.5         82         1
376 36  4         105           74        1980   15.3         82         2
377 37  4          91           68        2025   18.2         82         3
378 31  4          91           68        1970   17.6         82         3
379 38  4         105           63        2125   14.7         82         1
380 36  4          98           70        2125     NA         82         1
381 36  4         120           88        2160   14.5         82         3
382 36  4         107           75        2205   14.5         82         3
383 34  4         108           70        2245   16.9         82         3
384 38  4          91           67        1965   15.0         82         3
385 32  4          91           67        1965   15.7         82         3
386 38  4          91           67          NA   16.2         82         3
387 25  6         181          110        2945   16.4         82         1
388 38  6         262           85        3015   17.0         82         1
389 26  4         156           92        2585   14.5         82         1
390 22  6         232          112        2835   14.7         82         1
391 32  4         144           96        2665   13.9         82         3
392 36  4         135           84        2370   13.0         82         1
393 27  4         151           90        2950   17.3         82         1
394 27  4          NA           86        2790   15.6         82         1
395 44  4          97           52        2130   24.6         82         2
396 32  4         135           84        2295   11.6         82         1
397 28  4         120           79        2625   18.6         82         1
398 31  4         119           82        2720   19.4         82         1
    name                              weight2
1   chevrolet chevelle malibu          3504
2   buick skylark 320                  3693
3   plymouth satellite                 3436
4   amc rebel sst                      3433
5   ford torino                        3449
6   ford galaxie 500                   4341
7   chevrolet impala                   4354
8   plymouth fury iii                  4312
9   pontiac catalina                   4425
10  amc ambassador dpl                 3850
11  dodge challenger se                3563
12  plymouth 'cuda 340                30000
13  chevrolet monte carlo              3761
14  buick estate wagon (sw)            3086
15  toyota corona mark ii              2372
16  plymouth duster                    2833
17  amc hornet                         2774
18  ford maverick                      2587
19  datsun pl510                       2130
20  volkswagen 1131 deluxe sedan       1835
21  peugeot 504                        2672
22  audi 100 ls                        2430
23  saab 99e                           2375
24  bmw 2002                           2234
25  amc gremlin                        2648
26  ford f250                          4615
27  chevy c20                          4376
28  dodge d200                         4382
29  hi 1200d                           4732
30  datsun pl510                       2130
... ...                               ...
369 chevrolet cavalier wagon           2640
370 chevrolet cavalier 2-door          2395
371 pontiac j2000 se hatchback         2575
372 dodge aries se                     2525
373 pontiac phoenix                    2735
374 ford fairmont futura               2865
375 amc concord dl                     3035
376 volkswagen rabbit l                1980
377 mazda glc custom l                 2025
378 mazda glc custom                   1970
379 plymouth horizon miser             2125
380 mercury lynx l                     2125
381 nissan stanza xe                   2160
382 honda accord                       2205
383 toyota corolla                     2245
384 honda civic                        1965
385 honda civic (auto)                 1965
386 datsun 310 gx                     30000
387 buick century limited              2945
388 oldsmobile cutlass ciera (diesel)  3015
389 chrysler lebaron medallion         2585
390 ford granada l                     2835
391 toyota celica gt                   2665
392 dodge charger 2.2                  2370
393 chevrolet camaro                   2950
394 ford mustang gl                    2790
395 vw pickup                          2130
396 dodge rampage                      2295
397 ford ranger                        2625
398 chevy s-10                         2720

In [34]:
mpg %>% mutate(acceleration2 = replace_na(acceleration, 30000))

    mpg cylinders displacement horsepower weight acceleration model_year origin
1   18  8         307          130        3504   12.0         70         1
2   15  8         350          165        3693   11.5         70         1
3   18  8         318          150        3436   11.0         70         1
4   16  8         304          150        3433   12.0         70         1
5   17  8         302          140        3449   10.5         70         1
6   15  8         429          198        4341     NA         70         1
7   14  8         454          220        4354    9.0         70         1
8   14  8         440          215        4312    8.5         70         1
9   14  8         455          225        4425   10.0         70         1
10  15  8          NA          190        3850    8.5         70         1
11  15  8         383          170        3563   10.0         70         1
12  14  8         340          160          NA    8.0         70         1
13  15  8         400          150        3761    9.5         70         1
14  14  8         455          225        3086   10.0         70         1
15  24  4         113           95        2372   15.0         70         3
16  22  6         198           95        2833   15.5         70         1
17  18  6         199           97        2774   15.5         70         1
18  21  6         200           85        2587   16.0         70         1
19  27  4          97           88        2130   14.5         70         3
20  26  4          97           46        1835   20.5         70         2
21  25  4         110           87        2672   17.5         70         2
22  24  4         107           90        2430   14.5         70         2
23  25  4         104           95        2375   17.5         70         2
24  26  4         121          113        2234   12.5         70         2
25  21  6         199           90        2648     NA         70         1
26  10  8         360          215        4615   14.0         70         1
27  10  8         307          200        4376   15.0         70         1
28  11  8         318          210        4382   13.5         70         1
29   9  8         304          193        4732   18.5         70         1
30  27  4          97           88        2130   14.5         71         3
... ... ...       ...          ...        ...    ...          ...        ...
369 27  4         112           88        2640   18.6         82         1
370 34  4         112           88        2395   18.0         82         1
371 31  4         112           85        2575   16.2         82         1
372 29  4         135           84        2525   16.0         82         1
373 27  4         151           90        2735   18.0         82         1
374 24  4         140           92        2865   16.4         82         1
375 23  4         151           NA        3035   20.5         82         1
376 36  4         105           74        1980   15.3         82         2
377 37  4          91           68        2025   18.2         82         3
378 31  4          91           68        1970   17.6         82         3
379 38  4         105           63        2125   14.7         82         1
380 36  4          98           70        2125     NA         82         1
381 36  4         120           88        2160   14.5         82         3
382 36  4         107           75        2205   14.5         82         3
383 34  4         108           70        2245   16.9         82         3
384 38  4          91           67        1965   15.0         82         3
385 32  4          91           67        1965   15.7         82         3
386 38  4          91           67          NA   16.2         82         3
387 25  6         181          110        2945   16.4         82         1
388 38  6         262           85        3015   17.0         82         1
389 26  4         156           92        2585   14.5         82         1
390 22  6         232          112        2835   14.7         82         1
391 32  4         144           96        2665   13.9         82         3
392 36  4         135           84        2370   13.0         82         1
393 27  4         151           90        2950   17.3         82         1
394 27  4          NA           86        2790   15.6         82         1
395 44  4          97           52        2130   24.6         82         2
396 32  4         135           84        2295   11.6         82         1
397 28  4         120           79        2625   18.6         82         1
398 31  4         119           82        2720   19.4         82         1
    name                              acceleration2
1   chevrolet chevelle malibu            12.0
2   buick skylark 320                    11.5
3   plymouth satellite                   11.0
4   amc rebel sst                        12.0
5   ford torino                          10.5
6   ford galaxie 500                  30000.0
7   chevrolet impala                      9.0
8   plymouth fury iii                     8.5
9   pontiac catalina                     10.0
10  amc ambassador dpl                    8.5
11  dodge challenger se                  10.0
12  plymouth 'cuda 340                    8.0
13  chevrolet monte carlo                 9.5
14  buick estate wagon (sw)              10.0
15  toyota corona mark ii                15.0
16  plymouth duster                      15.5
17  amc hornet                           15.5
18  ford maverick                        16.0
19  datsun pl510                         14.5
20  volkswagen 1131 deluxe sedan         20.5
21  peugeot 504                          17.5
22  audi 100 ls                          14.5
23  saab 99e                             17.5
24  bmw 2002                             12.5
25  amc gremlin                       30000.0
26  ford f250                            14.0
27  chevy c20                            15.0
28  dodge d200                           13.5
29  hi 1200d                             18.5
30  datsun pl510                         14.5
... ...                               ...
369 chevrolet cavalier wagon             18.6
370 chevrolet cavalier 2-door            18.0
371 pontiac j2000 se hatchback           16.2
372 dodge aries se                       16.0
373 pontiac phoenix                      18.0
374 ford fairmont futura                 16.4
375 amc concord dl                       20.5
376 volkswagen rabbit l                  15.3
377 mazda glc custom l                   18.2
378 mazda glc custom                     17.6
379 plymouth horizon miser               14.7
380 mercury lynx l                    30000.0
381 nissan stanza xe                     14.5
382 honda accord                         14.5
383 toyota corolla                       16.9
384 honda civic                          15.0
385 honda civic (auto)                   15.7
386 datsun 310 gx                        16.2
387 buick century limited                16.4
388 oldsmobile cutlass ciera (diesel)    17.0
389 chrysler lebaron medallion           14.5
390 ford granada l                       14.7
391 toyota celica gt                     13.9
392 dodge charger 2.2                    13.0
393 chevrolet camaro                     17.3
394 ford mustang gl                      15.6
395 vw pickup                            24.6
396 dodge rampage                        11.6
397 ford ranger                          18.6
398 chevy s-10                           19.4